fastapi
uvicorn[standard]
sqlalchemy
asyncpg
alembic
pydantic-settings
celery
redis
python-jose
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
minio
opencv-python-headless==4.9.0.80
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.0+cpu
numpy==1.26.4
reportlab
websockets
httpx
psycopg2-binary==2.9.9
transformers==4.40.0
scipy==1.13.0
mediapipe==0.10.11
opencv-contrib-python-headless
